/* General */

body {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	margin: 0;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	margin-bottom: 0.2em;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0.6em 2em 0 2em;
}

a {
	text-decoration: none;
	color: rgb(17, 86, 212);
}

a:hover {
	text-decoration: underline;
}

.link-external {
	padding-right: 16px;
	background: url("exticon.svg") center right no-repeat;
}

/* Downloads */

.downloads {
	float: right;
}

.downloads-other {
	text-align: center;
	margin: 0.5em 0;
}

.downloads h3 {
	text-align: center;
	margin-bottom: 0.4em;
}

a.download-button {
	display: block;
	border: 1px solid black;
	border-radius: 5px;
	padding: 0.9em;
	margin: 0.3em;
	text-align: center;
	color: inherit;

	background-color: rgb(203, 238, 196);
}

a.download-button:hover {
	text-decoration: none;
	background-color: rgb(148, 231, 131);
}

a.download-button.snapshot {
	background-color: rgb(255, 195, 193);
}

a.download-button.snapshot:hover {
	background-color: rgb(243, 127, 123);
}

.download-button .minecraft-version {
	font-size: 1.6em;
}

.download-button .loader-version, .download-button .size {
	font-size: 0.9em;
}

/* Nav */

nav {
	background-color: rgb(241, 241, 241);
	width: 100%;
}

.nav-container {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	align-items: stretch;
}

nav ul {
	list-style-type: none;
}

nav h1 {
	margin: 0;
}

nav img.logo {
	height: 4em;
	width: auto;
	padding: 0.5em;
}

nav .item {
	padding: 0 1em;
	display: flex;
	align-items: center;
}

nav .item.selected {
	background-color: rgb(189, 189, 189);
}

nav a {
	color: inherit;
}

nav a:hover {
	text-decoration: none;
}

nav a.item:hover {
	background-color: rgb(165, 165, 165);
}

/* Introduction */

ol.introduction {
	list-style-type: none;
	counter-reset: list;
	padding: 0;
	margin: 0.2em 0 0.2em 0;
	/* Stops borders and stuff going into the float */
	overflow: hidden;
}

ol.introduction li {
	padding: 0.2em 0 0.2em 0;
	line-height: 1.85em;
}

ol.introduction li::before {
	counter-increment: list;
	content: counter(list);
	font-size: 1.3em;

	display: inline-block;
	margin-right: 0.4em;
	background-color: rgb(204, 235, 255);
	border: 1px solid #555;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
}

.start-script {
	line-height: normal;
}

.start-script pre {
	background-color: #eee;
	border: 1px solid #888;
	padding: 1em;
	margin: 0.5em 0;
}

.start-script-links {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.4em;
}